<app-loader *ngIf='!this.carga'></app-loader>

<ol class="breadcrumb bg-light" *ngIf='this.carga'>
   <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
   <li class="breadcrumb-item"><a routerLink="/catalogos">Catalogos</a></li>
   <li class="breadcrumb-item"><a routerLink="/catalogos/usuarios">Usuarios</a></li>
   <li *ngIf="!this.modoEdicion" class="breadcrumb-item active">Crear Usuario</li>
   <li *ngIf="this.modoEdicion" class="breadcrumb-item active">Editar Usuario</li>
</ol>

<div class="row" *ngIf='this.carga'>
   <div class="col-md-12">
      <div class="card border-light mb-3">
         <div class="card-header"><i class="fas fa-user-cog" style="margin-right: 1%;"></i>
            Usuario
            <button type="button" class="btn btn-success btn-sm" style="float: right">
               <i class="fas fa-save" style="padding-right: 3%;"></i> Guardar
            </button>
            <a class="btn btn-primary btn-sm" style="float: right; margin-right: 1%;" routerLink="/catalogos/usuarios">
               <i class="fas fa-arrow-left" style="padding-right: 3%;"></i> Salir
            </a>
         </div>
         <div class="card-body">
            <form [formGroup]="this.usuario">
               <div class="form">
                  <div class="row">
                     <!-- Usuario -->
                     <div class="col-md-4">
                        <div class="form-group mb-3">
                           <label>Usuario</label>
                           <input type="text" class="form-control" formControlName="usuario" maxlength="35">
                           <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                              Max: 35 caracteres
                           </span>
                           <span class="text-danger" style="font-size: 10px;"
                              *ngIf="usuario.get('usuario').hasError('required') && (usuario.get('usuario').touched || usuario.get('usuario').dirty)">
                              Usuario requerido
                           </span>
                        </div>
                     </div>

                     <!-- Contraseña -->
                     <div class="col-md-4">
                        <div class="form-group mb-3">
                           <label>Contraseña</label>
                           <input type="password" class="form-control" formControlName="pass" maxlength="35">
                           <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                              Max: 35 caracteres
                           </span>
                           <span class="text-danger" style="font-size: 10px;"
                              *ngIf="usuario.get('pass').hasError('required') && (usuario.get('pass').touched || usuario.get('pass').dirty)">
                              Password requerido
                           </span>
                        </div>
                     </div>

                     <!-- Confirmar contraseña -->
                     <div class="col-md-4">
                        <div class="form-group mb-3">
                           <label>Confirmar Contraseña</label>
                           <input type="password" class="form-control" formControlName="confirmPass">
                           <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                              Max: 35 caracteres
                           </span>
                           <span class="text-danger" style="font-size: 10px;"
                              *ngIf="usuario.get('confirmPass').hasError('required') && (usuario.get('confirmPass').touched || usuario.get('confirmPass').dirty)">
                              Password requerido
                           </span>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <!-- Estado del Usuario -->
                     <div class="col-md-2">
                        <div class="form-group mb-3">
                           <label>Estado</label>
                           <br>
                           <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                              <input type="radio" class="btn-check" id="btnradio1" autocomplete="off"
                                 formControlName="estado" value="1">
                              <label class="btn btn-outline-primary" for="btnradio1">Activado</label>
                              <input type="radio" class="btn-check" id="btnradio2" autocomplete="off"
                                 formControlName="estado" value="0">
                              <label class="btn btn-outline-primary" for="btnradio2">Desactivado</label>
                           </div>
                        </div>
                     </div>

                     <!-- Tipo del Usuario -->
                     <div class="col-md-2">
                        <div class="form-group mb-3">
                           <label>Tipo</label>
                           <br>
                           <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                              <input type="radio" class="btn-check" id="btnradio3" autocomplete="off"
                                 formControlName="tipo" value="1">
                              <label class="btn btn-outline-primary" for="btnradio3">Normal</label>
                              <input type="radio" class="btn-check" id="btnradio4" autocomplete="off"
                                 formControlName="tipo" value="0">
                              <label class="btn btn-outline-primary" for="btnradio4">Admin</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>