<app-loader *ngIf='!this.carga'></app-loader>

<ol class="breadcrumb bg-light" *ngIf='this.carga'>
   <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
   <li class="breadcrumb-item"><a routerLink="/facturas">Facturas</a></li>
   <!-- <li class="breadcrumb-item"><a routerLink="/catalogos/clientes">Clientes</a></li> -->
   <li *ngIf="!this.modoEdicion" class="breadcrumb-item active">Crear Factura</li>
   <li *ngIf="this.modoEdicion" class="breadcrumb-item active">Editar Factura</li>
</ol>


<div class="row" *ngIf='this.carga'>
   <div class="col-md-12">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
         <li [ngbNavItem]="1">
            <a ngbNavLink>Encabezado</a>
            <ng-template ngbNavContent>
               <!-- Encabezado de Factura -->
               <div class="card border-light mb-3">
                  <div class="card-header"><i class="fas fa-receipt" style="margin-right: 1%;"></i>
                     Encabezado de Factura
                     <button type="button" class="btn btn-success btn-sm" style="float: right">
                        <i class="fas fa-save" style="padding-right: 3%;"></i> Guardar
                     </button>
                     <a class="btn btn-primary btn-sm" style="float: right; margin-right: 1%;" routerLink="/facturas">
                        <i class="fas fa-arrow-left" style="padding-right: 3%;"></i> Salir
                     </a>
                  </div>
                  <div class="card-body">
                     <form [formGroup]="this.formFactura">
                        <div class="form">
                           <div class="row">
                              <!-- Serie -->
                              <div class="col-md-3">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Serie</label>
                                    <input type="text" class="form-control" formControlName="serie" maxlength="45">
                                    <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                                       Max: 45 caracteres
                                     </span>
                                     <span class="text-danger" style="font-size: 10px;"
                                       *ngIf="formFactura.get('serie').hasError('required') && (formFactura.get('serie').touched || formFactura.get('serie').dirty)">
                                       Serie requerido
                                     </span>
                                 </div>
                              </div>

                              <!-- Numero de Factura -->
                              <div class="col-md-3">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Numero</label>
                                    <input type="text" class="form-control" formControlName="numero_factura">
                                 </div>
                              </div>

                              <!-- Cliente -->
                              <div class="col-md-6 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Cliente</label>
                                    <div class="form-group">
                                       <ng-select2 [data]="this.catalogoClientes" [width]="350"
                                          [formControl]="this.formFactura.get('cliente')" formControlName="cliente"
                                          name='cliente' [allowClear]="true">
                                       </ng-select2>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="row">
                              <!-- Nombre Factura -->
                              <div class="col-md-6">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Nombre Factura</label>
                                    <input type="text" class="form-control" formControlName="nombre_factura">
                                 </div>
                              </div>

                              <!-- Direccion Factura -->
                              <div class="col-md-6">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Direccion Factura</label>
                                    <input type="text" class="form-control" formControlName="direccion_factura">
                                 </div>
                              </div>
                           </div>

                           <div class="row">
                              <!-- Nit -->
                              <div class="col-md-4">
                                 <div class="form-group mb-3">
                                    <label class="form-label">NIT</label>
                                    <input type="text" class="form-control" formControlName="nit" readonly>
                                 </div>
                              </div>

                              <!-- Telefono -->
                              <div class="col-md-4">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Telefono</label>
                                    <input type="text" class="form-control" formControlName="telefono" readonly>
                                 </div>
                              </div>

                              <!-- Fecha -->
                              <div class="col-md-4">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Fecha</label>
                                    <input type="date" class="form-control" formControlName="fecha">
                                 </div>
                              </div>
                           </div>

                           <div class="row">
                              <!-- Saldo de Cliente -->
                              <div class="col-md-4">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Saldo</label>
                                    <input type="text" class="form-control" formControlName="saldo" readonly>
                                 </div>
                              </div>

                              <!-- Estado del Cliente -->
                              <div class="col-md-2">
                                 <div class="form-group mb-4">
                                    <label>Estado</label>
                                    <br>
                                    <!-- <span class="badge bg-success pb-1 mt-2">Activa</span> -->
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                       <input type="radio" class="btn-check" id="btnradio1" autocomplete="off"
                                          formControlName="estado" value="1" >
                                       <label class="btn btn-outline-primary" for="btnradio1">Activa</label>
                                       <input type="radio" class="btn-check" id="btnradio2" autocomplete="off"
                                          formControlName="estado" value="0" >
                                       <label class="btn btn-outline-primary" for="btnradio2">Anulada</label>
                                    </div>
                                 </div>
                              </div>

                              <div class="col-md-3">
                                 <div class="form-group mb-3">
                                    <label>Tipo Factura</label>
                                    <br>
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                       <input type="radio" class="btn-check" id="btnradio1" autocomplete="off"
                                          formControlName="credito" value="0">
                                       <label class="btn btn-outline-primary" for="btnradio1">Contado</label>
                                       <input type="radio" class="btn-check" id="btnradio2" autocomplete="off"
                                          formControlName="credito" value="1">
                                       <label class="btn btn-outline-primary" for="btnradio2">Credito</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </ng-template>
         </li>
         <li [ngbNavItem]="2">
            <a ngbNavLink>Detalle</a>
            <ng-template ngbNavContent>
               <!-- Panel de Detalles -->
               <div class="card border-light mb-3">
                  <div class="card-header pt-2">
                     <i class="fas fa-receipt" style="margin-right: 1%;"></i>
                     Servicios
                     <button type="button" class="btn btn-success btn-sm" style="float: right">
                        <i class="fas fa-save" style="padding-right: 3%;"></i> Guardar
                     </button>
                     <button type="button" class="btn btn-danger btn-sm" style="float: right; margin-right: 1%;">
                        <i class="fas fa-times"></i> Cancelar
                     </button>
                  </div>
                  <div class="card-body">
                     <form [formGroup]="this.formServicio">
                        <div class="form">
                           <div class="row">
                              <!-- Servicios -->
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Servicio</label>
                                    <div class="form-group">
                                       <ng-select2 [data]="this.catalogoServicios" [width]="350"
                                          [formControl]="this.formServicio.get('servicio')" formControlName="servicio"
                                          name='servicio' [theme]="bootstrap" [allowClear]="true"
                                          (valueChanged)="selectService($event)">
                                       </ng-select2>
                                    </div>
                                 </div>
                              </div>

                              <!-- Cantidad -->
                              <div class="col-md-2">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Cantidad</label>
                                    <input type="number" class="form-control" formControlName="cantidad">
                                 </div>
                              </div>

                              <!-- Descripcion -->
                              <div class="col-md-4">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Descripcion</label>
                                    <input type="text" class="form-control" formControlName="descripcion">
                                 </div>
                              </div>

                              <!-- Monto -->
                              <div class="col-md-3">
                                 <div class="form-group mb-3">
                                    <label class="form-label">Monto</label>
                                    <input type="text" class="form-control" formControlName="monto">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>

               <!-- Detalle de Factura -->
               <div class="card border-light mb-3">
                  <div class="card-header pt-2">
                     <div class="row">
                        <div class="col-6">
                           <i class="fas fa-receipt" style="margin-right: 1%;"></i>
                           Detalle de Factura
                        </div>
                        <div class="col-6">
                           <ngb-pagination [collectionSize]="detalleFactura.length" [(page)]="page" [maxSize]="10"
                              [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                              class="d-flex justify-content-end"></ngb-pagination>
                        </div>
                     </div>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-hover">
                           <thead class="table-primary">
                              <tr>
                                 <th>No.</th>
                                 <th>Codigo</th>
                                 <th>Cantidad</th>
                                 <th>Descripcion</th>
                                 <th>Monto Unitario</th>
                                 <th>Subtotal</th>
                                 <th style="width: 120px;">Acciones</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr
                                 *ngFor="let factura of detalleFactura | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                 <td>{{factura.NUMERO}}</td>
                                 <td>{{factura.CODIGO}}</td>
                                 <td>{{factura.CANTIDAD}}</td>
                                 <td>{{factura.DESCRIPCION}}</td>
                                 <td>{{factura.MONTO_UNITARIO}}</td>
                                 <td>{{factura.MONTO}}</td>
                                 <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                       <button type="button" class="btn btn-primary btn-sm" ngbTooltip="Editar"
                                          (click)="editarFactura(factura.ID)">
                                          <i class="fas fa-pen"></i>
                                       </button>
                                       <button type="button" class="btn btn-danger btn-sm" ngbTooltip="Eliminar">
                                          <i class="fas fa-trash"></i>
                                       </button>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </ng-template>
         </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
   </div>
</div>

<!-- <div class="row">
   <div class="col-md-12">
      <div class="card border-light mb-3">
         <div class="card-header pt-2">
            <div class="row">
               <div class="col-6">
                  <i class="fas fa-receipt" style="margin-right: 1%;"></i>
                  Detalle de Factura
               </div>
               <div class="col-6">
                  <ngb-pagination [collectionSize]="detalleFactura.length" [(page)]="page" [maxSize]="10"
                     [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                     class="d-flex justify-content-end"></ngb-pagination>
               </div>
            </div>
         </div>
         <div class="card-body">
            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
               <table class="table table-hover">
                  <thead class="table-primary">
                     <tr>
                        <th>No.</th>
                        <th>Codigo</th>
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>Monto Unitario</th>
                        <th>Subtotal</th>
                        <th style="width: 120px;">Acciones</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr
                        *ngFor="let factura of detalleFactura | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td>{{factura.NUMERO}}</td>
                        <td>{{factura.CODIGO}}</td>
                        <td>{{factura.CANTIDAD}}</td>
                        <td>{{factura.DESCRIPCION}}</td>
                        <td>{{factura.MONTO_UNITARIO}}</td>
                        <td>{{factura.MONTO}}</td>
                        <td>
                           <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-primary btn-sm" ngbTooltip="Editar"
                                 (click)="editarFactura(factura.ID)">
                                 <i class="fas fa-pen"></i>
                              </button>
                              <button type="button" class="btn btn-danger btn-sm" ngbTooltip="Eliminar">
                                 <i class="fas fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div> -->