<app-loader *ngIf='!this.carga'></app-loader>

<ol class="breadcrumb bg-light" *ngIf='this.carga'>
   <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
   <li class="breadcrumb-item"><a routerLink="/facturas">Facturas</a></li>
   <li class="breadcrumb-item active">Movimientos de Factura</li>
</ol>

<div class="row" *ngIf='this.carga'>
   <div class="col-md-12">
      <div class="card border-light mb-3">
         <div class="card-header"><i class="fas fa-exchange-alt" style="margin-right: 1%;"></i>
            Listado de Movimientos<a class="btn btn-link btn-sm" ngbTooltip="Actualizar">
               <i class="fas fa-sync-alt"></i></a>

            <button type="button" class="btn btn-success btn-sm" style="float: right" data-toggle="modal"
               data-target="#modalMovimientos" (click)="iniciarFormulario()">
               <i class="fas fa-plus" style="padding-right: 3%;"></i> Crear Movimiento
            </button>
         </div>
         <div class="card-body">
            <form>
               <div class="row">
                  <div class="col">
                     <div class="form-group">
                        <div class="input-group">
                           <input type="text" class="form-control" [(ngModel)]="this.filtro"
                              placeholder="Descripcion del movimiento" placement="top"
                              ngbTooltip="Filtro de Movimientos" name="filtro">
                           <div class="input-group-append">
                              <button class="btn btn-outline-primary" type="button"
                                 style="padding-top: 7%; padding-bottom: 0%;">
                                 <label><i class="fas fa-search"></i></label>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col">
                     <div class="form-group">
                        <!-- <label class="form-label">Movimiento</label> -->
                        <select class="form-select" name="cargo_abono" [(ngModel)]="this.cargo_abono">
                           <option value="">Todos</option>
                           <option value="C">Cargo</option>
                           <option value="A">Abono</option>
                        </select>
                     </div>
                  </div>
               </div>
            </form>

            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th colspan="6">
                           <ngb-pagination [collectionSize]="movimientos.length" [(page)]="page" [maxSize]="10"
                              [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                              class="d-flex justify-content-end"></ngb-pagination>
                        </th>
                     </tr>
                  </thead>
                  <thead class="table-primary">
                     <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Monto</th>
                        <th>Estado</th>
                        <th style="width: 120px;">Acciones</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr
                        *ngFor="let factura of movimientos | filtroMovimientos:filtro:cargo_abono | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td>
                           <span *ngIf="factura.CARGO_ABONO == 'C'" class="badge bg-success pb-1">Cargo</span>
                           <span *ngIf="factura.CARGO_ABONO == 'A'" class="badge bg-info pb-1">Abono</span>
                        </td>
                        <td>{{factura.FECHA}}</td>
                        <td>{{factura.DESCRIPCION}}</td>
                        <td>{{factura.MONTO | number : '1.2-2'}}</td>
                        <td>
                           <span *ngIf="factura.ESTADO == '1'" class="badge bg-success pb-1">Activa</span>
                           <span *ngIf="factura.ESTADO == '0'" class="badge bg-danger pb-1">Anulada</span>
                        </td>
                        <td>
                           <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-primary btn-sm" ngbTooltip="Editar"
                                 data-toggle="modal" data-target="#modalMovimientos"
                                 (click)="editarMovimiento(factura.ID_MOVIMIENTO)">
                                 <i class="fas fa-pen"></i>
                              </button>
                              <button *ngIf="factura.ESTADO == '1'" type="button" class="btn btn-warning btn-sm"
                                 ngbTooltip="Anular" (click)="anularMovimiento(factura.ID_MOVIMIENTO)">
                                 <i class="fas fa-times"></i>
                              </button>
                              <button *ngIf="factura.ESTADO == '0'" type="button" class="btn btn-primary btn-sm"
                                 ngbTooltip="Habilitar" (click)="habilitarMovimiento(factura.ID_MOVIMIENTO)">
                                 <i class="fas fa-check"></i>
                              </button>
                              <button type="button" class="btn btn-danger btn-sm" ngbTooltip="Eliminar"
                                 (click)="eliminarMovimiento(factura.ID_MOVIMIENTO)">
                                 <i class="fas fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
                  <tfoot>
                     <tr>
                        <th colspan="6">
                           <ngb-pagination [collectionSize]="movimientos.length" [(page)]="page" [maxSize]="10"
                              [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                              class="d-flex justify-content-end"></ngb-pagination>
                        </th>
                     </tr>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Movimientos -->
<div class="modal fade" id="modalMovimientos" data-backdrop="static" tabindex="-1" role="dialog"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Movimiento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form [formGroup]="this.movimiento">
               <div class="form-group">
                  <label class="form-label">Movimiento</label>
                  <select class="form-select" formControlName="cargo_abono">
                     <option value="C">Cargo</option>
                     <option value="A">Abono</option>
                  </select>
                  <span class="text-danger" style="font-size: 10px;"
                     *ngIf="movimiento.get('cargo_abono').hasError('required') && (movimiento.get('cargo_abono').touched || movimiento.get('cargo_abono').dirty)">
                     Movimiento requerido
                  </span>
               </div>
               <div class="form-group">
                  <label>Descripcion</label>
                  <input type="text" class="form-control" formControlName="descripcion"
                     placeholder="Ingrese Descripcion" maxlength="100">
                  <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                     Max: 100 caracteres
                  </span>
                  <span class="text-danger" style="font-size: 10px;"
                     *ngIf="movimiento.get('descripcion').hasError('required') && (movimiento.get('descripcion').touched || movimiento.get('descripcion').dirty)">
                     Descripción requerida
                  </span>
               </div>
               <div class="form-group">
                  <label>Monto</label>
                  <input type="text" class="form-control" formControlName="monto" placeholder="Ingrese Cantidad"
                     maxlength="10">
                  <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                     Max: 10 caracteres
                  </span>
                  <span class="text-danger" style="font-size: 10px;"
                     *ngIf="movimiento.get('monto').hasError('required') && (movimiento.get('monto').touched || movimiento.get('monto').dirty)">
                     Monto requerido
                  </span>
                  <span class="text-danger" style="font-size: 10px;"
                     *ngIf="movimiento.get('monto').hasError('pattern') && (movimiento.get('monto').touched || movimiento.get('monto').dirty)">
                     Monto invalido
                  </span>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button *ngIf="!this.modoEdicion" type="button" class="btn btn-primary" (click)="registrarMovimiento()"
               data-dismiss="modal">Registrar</button>
            <button *ngIf="this.modoEdicion" type="button" class="btn btn-primary" (click)="actualizarMovimiento()"
               data-dismiss="modal">Actualizar</button>
         </div>
      </div>
   </div>
</div>