<app-loader *ngIf='!this.carga'></app-loader>

<ol class="breadcrumb bg-light" *ngIf='this.carga'>
  <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
  <li class="breadcrumb-item"><a routerLink="/catalogos">Catalogos</a></li>
  <li class="breadcrumb-item"><a routerLink="/catalogos/clientes">Clientes</a></li>
  <li *ngIf="!this.modoEdicion" class="breadcrumb-item active">Crear Cliente</li>
  <li *ngIf="this.modoEdicion" class="breadcrumb-item active">Editar Cliente</li>
</ol>

<div class="row" *ngIf='this.carga'>
  <div class="col-md-12">
    <div class="card border-light mb-3">
      <div class="card-header"><i class="fas fa-users" style="margin-right: 1%;"></i>
        Cliente

        <button type="button" class="btn btn-success btn-sm" style="float: right" (click)="registrarCliente()">
          <i class="fas fa-save" style="padding-right: 3%;"></i> Guardar
        </button>

        <a class="btn btn-primary btn-sm" style="float: right; margin-right: 1%;" routerLink="/catalogos/clientes">
          <i class="fas fa-arrow-left" style="padding-right: 3%;"></i> Salir
        </a>
      </div>
      <div class="card-body">
        <form [formGroup]="this.cliente">
          <div class="form">

            <div class="row">
              <!-- Nombre -->
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label>Nombre</label>
                  <input type="text" class="form-control" formControlName="nombre" maxlength="100">
                  <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                    Max: 100 caracteres
                  </span>
                  <span class="text-danger" style="font-size: 10px;"
                    *ngIf="cliente.get('nombre').hasError('required') && (cliente.get('nombre').touched || cliente.get('nombre').dirty)">
                    Nombre requerido
                  </span>
                </div>
              </div>

              <!-- Direccion -->
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label>Direccion</label>
                  <input type="text" class="form-control" formControlName="direccion" maxlength="100">
                  <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                    Max: 100 caracteres
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Nit -->
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <label>NIT<a class="btn btn-link btn-sm" ngbTooltip="Puede ingresar CF o C/F" placement="right"><i
                        class="fas fa-info-circle"></i></a></label>
                  <input type="text" class="form-control" formControlName="nit" maxlength="10">
                  <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                    Max: 10 caracteres
                  </span>
                  <span class="text-danger" style="font-size: 10px;"
                    *ngIf="cliente.get('nit').hasError('required') && (cliente.get('nit').touched || cliente.get('nit').dirty)">
                    Nit requerido
                  </span>
                  <span class="text-danger" style="font-size: 10px;" *ngIf="cliente.errors?.nitInvalido">
                    Nit invalido
                  </span>
                </div>
              </div>

              <!-- Telefono -->
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <label>Telefono</label>
                  <input type="text" class="form-control" formControlName="telefono" maxlength="10">
                  <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                    Max: 10 caracteres
                  </span>
                  <span class="text-danger" style="font-size: 10px;"
                    *ngIf="cliente.get('telefono').hasError('required') && (cliente.get('telefono').touched || cliente.get('telefono').dirty)">
                    Telefono requerido
                  </span>
                </div>
              </div>

              <!-- Correo Electronico -->
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <label>Correo Electronico</label>
                  <input type="text" class="form-control" formControlName="correo" maxlength="70">
                  <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;">
                    Max: 70 caracteres
                  </span>
                </div>
              </div>

            </div>

            <div class="row">
              <!-- Fecha de Nacimiento -->
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <label>Fecha Nacimiento</label>
                  <input type="date" class="form-control" formControlName="fecha_nacimiento">
                  <span class="text-danger" style="font-size: 10px;"
                    *ngIf="cliente.get('fecha_nacimiento').hasError('required') && (cliente.get('fecha_nacimiento').touched || cliente.get('fecha_nacimiento').dirty)">
                    Fecha requerida
                  </span>
                </div>
              </div>

              <!-- Saldo de Cliente -->
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <label>Saldo</label>
                  <input type="text" class="form-control" readonly formControlName="saldo">
                </div>
              </div>

              <!-- Estado del Cliente -->
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <label>Estado</label>
                  <br>
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" id="btnradio1" autocomplete="off" formControlName="estado"
                      value="1">
                    <label class="btn btn-outline-primary" for="btnradio1">Activado</label>
                    <input type="radio" class="btn-check" id="btnradio2" autocomplete="off" formControlName="estado"
                      value="0">
                    <label class="btn btn-outline-primary" for="btnradio2">Desactivado</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>