<ol class="breadcrumb bg-light">
    <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
    <li class="breadcrumb-item active">Catalogos</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Catalogos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        <a routerLink="/catalogos/clientes" style="font-size: 120px">
                            <i class="fas fa-users lg"></i>
                        </a>
                    </h1>
                    <h3 class="card-title">
                        <strong>Clientes</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        <a routerLink="/catalogos/clientes" style="font-size: 120px">
                            <i class="fas fa-concierge-bell"></i>
                        </a>
                    </h1>
                    <h3 class="card-title">
                        <strong>Servicios</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        <a routerLink="/catalogos/clientes" style="font-size: 120px">
                            <i class="fas fa-user-cog"></i>
                        </a>
                    </h1>
                    <h3 class="card-title">
                        <strong>Usuarios</strong>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- https://itnext.io/how-to-deploy-angular-application-to-heroku-1d56e09c5147 -->