<div class="container">
    <div class="row ">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        <a routerLink="/catalogos/clientes" style="font-size: 120px">
                            <i class="fas fa-users lg"></i>
                        </a>
                    </h1>
                    <h3 class="card-title">
                        <strong>Clientes</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        <a routerLink="/catalogos/clientes" style="font-size: 120px">
                            <i class="fas fa-users lg"></i>
                        </a>
                    </h1>
                    <h3 class="card-title">
                        <strong>Clientes</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        <a routerLink="/catalogos/clientes" style="font-size: 120px">
                            <i class="fas fa-users lg"></i>
                        </a>
                    </h1>
                    <h3 class="card-title">
                        <strong>Clientes</strong>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>