<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-2">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">World Stetic Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="menuCatalogos">Catalogos</a>
          <div class="dropdown-menu" aria-labelledby="menuCatalogos">
            <a class="dropdown-item" routerLink="/catalogos/clientes" routerLinkActive="active">Clientes</a>
            <a class="dropdown-item" routerLink="/catalogos/usuarios" routerLinkActive="active">Usuarios</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/catalogos/servicios" routerLinkActive="active">Servicios</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/facturas" routerLinkActive="active">Facturas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="menuFinanzas">Finanzas</a>
          <div class="dropdown-menu" aria-labelledby="menuFinanzas">
            <a class="dropdown-item" routerLink="/finanzas/balance" routerLinkActive="active">Balance General</a>
            <a class="dropdown-item" routerLink="/finanzas/costos" routerLinkActive="active">Costos</a>
            <!-- <a class="dropdown-item" routerLink="/catalogos/usuarios" routerLinkActive="active">Usuarios</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/catalogos/servicios" routerLinkActive="active">Servicios</a> -->
          </div>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="menuUsuario">Usuario</a>
          <div class="dropdown-menu dropdown-left-manual" aria-labelledby="menuUsuario">
            <a class="dropdown-item" routerLink="/">Cerrar Sesion</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>