<ol class="breadcrumb bg-light">
   <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
   <li class="breadcrumb-item"><a routerLink="/finanzas">Finanzas</a></li>
   <li class="breadcrumb-item active">Balance General</li>
</ol>

<div class="row">
   <div class="col-md-12">
      <div class="card border-light mb-3">
         <div class="card-header">
            Rango de Fecha
         </div>
         <div class="card-body">
            <form>
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-group mb-3">
                        <label class="form-label">Fecha Inicial</label>
                        <input type="date" class="form-control">
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group mb-3">
                        <label class="form-label">Fecha Final</label>
                        <input type="date" class="form-control">
                     </div>
                  </div>
                  <div class="col-md-4">
                     <button type="button" class="btn btn-primary btn-block" style="float: right; margin-top: 5%;">
                        <i class="fas fa-search"></i> Consultar
                     </button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-md-6">
      <div class="card border-light mb-3">
         <div class="card-header">
            Listado de Ingresos
         </div>
         <div class="card-body">
            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
               <table class="table table-hover">
                  <thead class="table-primary">
                     <tr>
                        <th>Descripcion</th>
                        <th>Monto</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let ingreso of ingresos">
                        <td>{{ingreso.DESCRIPCION}}</td>
                        <td>{{ingreso.MONTO}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-6">
      <div class="card border-light mb-3">
         <div class="card-header">
            Listado de Gastos
         </div>
         <div class="card-body">
            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
               <table class="table table-hover">
                  <thead class="table-primary">
                     <tr>
                        <th>Descripcion</th>
                        <th>Monto</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let gasto of gastos">
                        <td>{{gasto.DESCRIPCION}}</td>
                        <td>{{gasto.MONTO}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>