<app-loader *ngIf='!this.carga'></app-loader>

<ol class="breadcrumb bg-light" *ngIf='this.carga'>
   <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
   <li class="breadcrumb-item active">Facturas</li>
</ol>

<div class="row" *ngIf='this.carga'>
   <div class="col-md-12">
      <div class="card border-light mb-3">
         <div class="card-header"><i class="fas fa-receipt" style="margin-right: 1%;"></i>
            Listado de Facturas<a class="btn btn-link btn-sm" ngbTooltip="Actualizar" (click)="obtenerFacturas()"><i
                  class="fas fa-sync-alt"></i></a>
            <button type="button" class="btn btn-success btn-sm" style="float: right" (click)="crearFactura()">
               <i class="fas fa-plus" style="padding-right: 3%;"></i> Crear Factura
            </button>
         </div>
         <div class="card-body">
            <form>
               <div class="form-group">
                   <div class="input-group">
                       <input type="text" class="form-control" [(ngModel)]="this.filtro"
                           placeholder="Nombre de factura, nit, serie" placement="top"
                           ngbTooltip="Filtro de Facturas" name="filtro">
                       <div class="input-group-append">
                           <button class="btn btn-outline-primary" type="button"
                               style="padding-top: 7%; padding-bottom: 0%;">
                               <label><i class="fas fa-search"></i></label>
                           </button>
                       </div>
                   </div>
               </div>
           </form>

            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <td colspan="9">
                           <ngb-pagination [collectionSize]="facturas.length" [(page)]="page" [maxSize]="pageSize"
                              [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                              class="d-flex justify-content-end"></ngb-pagination>
                        </td>
                     </tr>
                  </thead>
                  <thead class="table-primary">
                     <tr>
                        <th>Serie</th>
                        <th>Numero</th>
                        <th>Nit</th>
                        <th>Cliente</th>
                        <th>Fecha Emision</th>
                        <th>Tipo Factura</th>
                        <th>Estado</th>
                        <th>Monto</th>
                        <th style="width: 120px;">Acciones</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let factura of facturas | filtroFacturas:filtro | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td>{{factura.SERIE}}</td>
                        <td>{{factura.NUMERO_FACTURA}}</td>
                        <td>{{factura.NIT}}</td>
                        <td>{{factura.NOMBRE_FACTURA}}</td>
                        <td>{{factura.FECHA_EMISION}}</td>
                        <td>
                           <span *ngIf="factura.CONTADO_CREDITO == '0'" class="badge bg-success pb-1">Contado</span>
                           <span *ngIf="factura.CONTADO_CREDITO == '1'" class="badge bg-info pb-1">Credito</span>
                        </td>
                        <td>
                           <span *ngIf="factura.ESTADO == '1'" class="badge bg-success pb-1">Activa</span>
                           <span *ngIf="factura.ESTADO == '0'" class="badge bg-danger pb-1">Anulada</span>
                        </td>
                        <td>{{factura.MONTO | number : '1.2-2'}}</td>
                        <td>
                           <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-primary btn-sm" ngbTooltip="Editar"
                                 (click)="editarFactura(factura.ID_FACTURA)">
                                 <i class="fas fa-pen"></i>
                              </button>
                              <button *ngIf="factura.CONTADO_CREDITO == '1'" type="button" class="btn btn-primary btn-sm"
                                 ngbTooltip="Pagar" (click)="verMovimientos(factura.ID_FACTURA)">
                                 <i class="fas fa-money-bill-wave"></i>
                              </button>
                              <button *ngIf="factura.ESTADO == '1'" type="button" class="btn btn-warning btn-sm"
                                 ngbTooltip="Anular" (click)="anularFactura(factura.ID_FACTURA)">
                                 <i class="fas fa-times"></i>
                              </button>
                              <button *ngIf="factura.ESTADO == '0'" type="button" class="btn btn-primary btn-sm"
                                 ngbTooltip="Habilitar" (click)="habilitarFactura(factura.ID_FACTURA)">
                                 <i class="fas fa-check"></i>
                              </button>
                              <button type="button" class="btn btn-danger btn-sm" ngbTooltip="Eliminar"
                                 (click)="eliminarFactura(factura.ID_FACTURA)">
                                 <i class="fas fa-trash"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
                  <tfoot>
                     <tr>
                        <td colspan="9">
                           <ngb-pagination [collectionSize]="facturas.length" [(page)]="page" [maxSize]="pageSize"
                              [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                              class="d-flex justify-content-end"></ngb-pagination>
                        </td>
                     </tr>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>