<ol class="breadcrumb bg-light">
   <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
   <li class="breadcrumb-item active">Facturas</li>
</ol>

<div class="row">
   <div class="col-md-12">
       <div class="card border-light mb-3">
           <div class="card-header"><i class="fas fa-receipt" style="margin-right: 1%;"></i>
               Listado de Facturas<a class="btn btn-link btn-sm" ngbTooltip="Actualizar"><i
                       class="fas fa-sync-alt"></i></a>

               <button type="button" class="btn btn-success btn-sm" style="float: right" (click)="crearCliente()">
                   <i class="fas fa-plus" style="padding-right: 3%;"></i> Crear Cliente
               </button>
           </div>
           <div class="card-body">
               <div class="table-responsive">
                   <table class="table table-hover">
                       <thead>
                           <tr>
                               <th colspan="6">
                                   <ngb-pagination [collectionSize]="clientes.length" [(page)]="page" [maxSize]="10"
                                       [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                                       class="d-flex justify-content-end"></ngb-pagination>
                               </th>
                           </tr>
                       </thead>
                       <thead class="table-primary">
                           <tr>
                               <th>Serie</th>
                               <th>Numero</th>
                               <th>Nit</th>
                               <th>Cliente</th>
                               <th>Tipo Factura</th>
                               <th>Estado</th>
                               <th>Monto</th>
                               <th style="width: 120px;">Acciones</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr
                               *ngFor="let cliente of clientes | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                               <td>{{cliente.ID}}</td>
                               <td>{{cliente.NOMBRE}}</td>
                               <td>{{cliente.NIT}}</td>
                               <td>{{cliente.SALDO}}</td>
                               <td>
                                   <span *ngIf="cliente.ESTADO == '1'" class="badge bg-success pb-1">Activo</span>
                                   <span *ngIf="cliente.ESTADO == '0'" class="badge bg-danger pb-1">Desactivado</span>
                               </td>
                               <td>
                                   <div>
                                       <button type="button" class="btn btn-primary btn-sm pb-sm" ngbTooltip="Editar"
                                           (click)="editarCliente(cliente.ID)">
                                           <i class="fas fa-pen "></i>
                                       </button>
                                       <button type="button" class="btn btn-danger btn-sm pb-sm" ngbTooltip="Eliminar">
                                           <i class="fas fa-trash "></i>
                                       </button>
                                   </div>
                               </td>
                           </tr>
                       </tbody>
                       <tfoot>
                           <tr>
                               <th colspan="6">
                                   <ngb-pagination [collectionSize]="clientes.length" [(page)]="page" [maxSize]="10"
                                       [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                                       class="d-flex justify-content-end"></ngb-pagination>
                               </th>
                           </tr>
                       </tfoot>
                   </table>
               </div>
           </div>
       </div>
   </div>
</div>