<app-loader *ngIf='!this.carga'></app-loader>

<ol class="breadcrumb bg-light" *ngIf='this.carga'>
   <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
   <li class="breadcrumb-item"><a routerLink="/catalogos">Catalogos</a></li>
   <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="row" *ngIf='this.carga'>
   <div class="col-md-12">
      <div class="card border-light mb-3">
         <div class="card-header"><i class="fas fa-user-cog" style="margin-right: 1%;"></i>
            Listado de Usuarios<a class="btn btn-link btn-sm" ngbTooltip="Actualizar" (click)="obtenerUsuarios()"><i
                  class="fas fa-sync-alt"></i></a>

            <button type="button" class="btn btn-success btn-sm" style="float: right" (click)="crearUsuario()">
               <i class="fas fa-plus" style="padding-right: 3%;"></i> Crear Usuario
            </button>
         </div>

         <div class="card-body">
            <form>
               <div class="form-group">
                  <div class="input-group">
                     <input type="text" class="form-control" [(ngModel)]="this.filtro" placeholder="Usuario"
                        placement="top" ngbTooltip="Filtro de Usuarios" name="filtro">
                     <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button"
                           style="padding-top: 7%; padding-bottom: 0%;">
                           <label><i class="fas fa-search"></i></label>
                        </button>
                     </div>
                  </div>
               </div>
            </form>

            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th colspan="6">
                           <ngb-pagination [collectionSize]="usuarios.length" [(page)]="page" [maxSize]="10"
                              [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                              class="d-flex justify-content-end"></ngb-pagination>
                        </th>
                     </tr>
                  </thead>
                  <thead class="table-primary">
                     <tr>
                        <!-- <th>ID</th> -->
                        <th>Usuario</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th style="width: 120px;">Acciones</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr
                        *ngFor="let usuario of usuarios | filtroUsuarios:filtro |  slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <!-- <td>{{usuario.ID_USUARIO}}</td> -->
                        <td>{{usuario.USUARIO}}</td>
                        <td>
                           <span *ngIf="usuario.ADMIN == '1'" class="badge bg-success pb-1">Admin</span>
                           <span *ngIf="usuario.ADMIN == '0'" class="badge bg-primary pb-1">Normal</span>
                        </td>
                        <td>
                           <span *ngIf="usuario.ESTADO == '1'" class="badge bg-success pb-1">Activo</span>
                           <span *ngIf="usuario.ESTADO == '0'" class="badge bg-danger pb-1">Desactivado</span>
                        </td>
                        <td>
                           <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-primary btn-sm pb-sm" ngbTooltip="Editar"
                                 (click)="editarUsuario(usuario.ID_USUARIO)">
                                 <i class="fas fa-pen "></i>
                              </button>
                              <button *ngIf="usuario.NO_FACTURAS == 0" type="button" class="btn btn-danger btn-sm pb-sm"
                                 ngbTooltip="Eliminar" (click)="eliminarUsuario(usuario.ID_USUARIO)">
                                 <i class="fas fa-trash "></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
                  <tfoot>
                     <tr>
                        <th colspan="6">
                           <ngb-pagination [collectionSize]="usuarios.length" [(page)]="page" [maxSize]="10"
                              [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                              class="d-flex justify-content-end"></ngb-pagination>
                        </th>
                     </tr>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>