<app-loader *ngIf='!this.carga'></app-loader>

<ol class="breadcrumb bg-light" *ngIf='this.carga'>
    <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="/catalogos">Catalogos</a></li>
    <li class="breadcrumb-item active">Clientes</li>
</ol>

<div class="row" *ngIf='this.carga'>
    <div class="col-md-12">
        <div class="card border-light mb-3">
            <div class="card-header"><i class="fas fa-users" style="margin-right: 1%;"></i>
                Listado de Clientes<a class="btn btn-link btn-sm" ngbTooltip="Actualizar" (click)="obtenerClientes()"><i
                        class="fas fa-sync-alt"></i></a>

                <button type="button" class="btn btn-success btn-sm" style="float: right" (click)="crearCliente()">
                    <i class="fas fa-plus" style="padding-right: 3%;"></i> Crear Cliente
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="6">
                                    <ngb-pagination [collectionSize]="clientes.length" [(page)]="page" [maxSize]="10"
                                        [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                                        class="d-flex justify-content-end"></ngb-pagination>
                                </th>
                            </tr>
                        </thead>
                        <thead class="table-primary">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>NIT</th>
                                <th>Saldo</th>
                                <th style="width: 150px;">Estado</th>
                                <th style="width: 120px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let cliente of clientes | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                <td>{{cliente.ID_CLIENTE}}</td>
                                <td>{{cliente.NOMBRE}}</td>
                                <td>{{cliente.NIT}}</td>
                                <td>{{cliente.SALDO_ACTUAL | number : '1.2-2'}}</td>
                                <td>
                                    <span *ngIf="cliente.ESTADO == '1'" class="badge bg-success pb-1">Activo</span>
                                    <span *ngIf="cliente.ESTADO == '0'" class="badge bg-danger pb-1">Desactivado</span>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-primary btn-sm pb-sm" ngbTooltip="Editar"
                                            (click)="editarCliente(cliente.ID_CLIENTE)">
                                            <i class="fas fa-pen "></i>
                                        </button>
                                        <button *ngIf="cliente.NO_FACTURAS == 0" type="button" class="btn btn-danger btn-sm pb-sm" ngbTooltip="Eliminar"
                                            (click)="eliminarCliente(cliente.ID_CLIENTE)">
                                            <i class="fas fa-trash "></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="6">
                                    <ngb-pagination [collectionSize]="clientes.length" [(page)]="page" [maxSize]="10"
                                        [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"
                                        class="d-flex justify-content-end"></ngb-pagination>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>