<ol class="breadcrumb bg-light">
   <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
   <li class="breadcrumb-item active">Finanzas</li>
</ol>

<div class="container">
   <div class="row">
      <div class="col-md-12 text-center">
         <h1>Finanzas</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6 mt-3">
         <div class="card">
            <div class="card-body text-center">
               <h1 class="card-title">
                  <a routerLink="/finanzas/balance" style="font-size: 120px">
                     <i class="fas fa-funnel-dollar"></i>
                  </a>
               </h1>
               <h3 class="card-title">
                  <strong>Balance General</strong>
               </h3>
            </div>
         </div>
      </div>
      <div class="col-md-6 mt-3">
         <div class="card">
            <div class="card-body text-center">
               <h1 class="card-title">
                  <a routerLink="/finanzas/costos" style="font-size: 120px">
                     <i class="fas fa-wallet"></i>
                  </a>
               </h1>
               <h3 class="card-title">
                  <strong>Costos</strong>
               </h3>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- https://itnext.io/how-to-deploy-angular-application-to-heroku-1d56e09c5147 -->